/*
Escala Tipografia - Perfect Fourth

4.209rem
3.157rem
2.369rem
1.777rem
1.333rem
1rem
0.75rem
0.563rem
0.422rem

/*Paleta de Cores*/
/*
:root {
	--primaria1: #fef5e0;
	--primaria2: #fed6bf;
	--primaria3: #402f5b;
	--secundaria: #9d2fc6;
	--destaque1: #df45cf;
	--destaque2: #05704c;
	--hover: #0d8b8c;
}
*/

:root {
	--primaria1: #f3ffa5;
	--primaria2: #b4fe72;
	--primaria3: #510498;
	--secundaria: #24ddd6;
	--destaque1: #710389;
	--destaque2: #f2ea1c;
	--hover: #5ddb09;
}

/****** reset ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, header, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;	
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

body {
	font-family: 'Sarabun', sans-serif;
	color: #2a2b2a;	
	background-color: var(--primaria1);
	/* background: #f18f01 url("/img/guitar-background-1.jpg") no-repeat fixed center;	
	background-size: cover;
	background-blend-mode: darken; */
}

/* header */
.header-principal {
	background-color: var(--primaria3);
}

.header-container {
	max-width: 960px;
	margin: 0 auto;
}

.logo {	
	margin: 0 auto;	
}

/* tablet */
@media (min-width: 740px) and (max-width: 980px) {
	body {

	}
}

/* mobile */
@media (max-width: 739px) {
	body {

	}
}

/****** section 1 - oferta ******/
.oferta {

}

.oferta-container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;	
	padding: 40px 0 80px 0;		
}

.oferta-container p {	
	line-height: 1.3rem;
	padding: 10px 0;	
	font-size: 1.333rem;
	/* font-feature-settings: "clig"; */
	/* font-style: oblique;	 */
}

.oferta-container p::after {
	content: '';
	display: block;
	width: 7%;
	height: 1.5px;
	background:#2a2b2a;
	margin: 10px auto;
}

.video-oferta {
	width: 70%;
	height: 55%;
	margin: 20px 0;
	box-shadow: 5px 5px 10px #2a2b2a;
}

.button_buy {
	border-radius: 15px;
	color: var(--primaria3);
	background-color: var(--destaque2);
	text-decoration: none;
	text-align: center;
	font-size: 1.333rem;
	font-weight: bolder;
	text-transform: uppercase;
	display: block;
	width: 70%;
	padding: 20px 0;
	margin: 20px auto 0 auto;
	transition-duration: 0.4s;
	box-shadow: 5px 5px 30px #2a2b2a;
}

.button_buy_2 {
	border-radius: 15px;
	color: var(--primaria1);
	background-color: var(--destaque1);
	text-decoration: none;
	text-align: center;
	font-size: 1.333rem;
	font-weight: bolder;
	text-transform: uppercase;
	display: block;
	width: 70%;
	padding: 20px 0;
	margin: 20px auto 0 auto;
	transition-duration: 0.4s;
	box-shadow: 5px 5px 30px #2a2b2a;
}

.button_buy:hover {
	background-color: var(--hover);
}

/* tablet */
@media (min-width: 740px) and (max-width: 980px) {
	.oferta-container p {
		max-width: 600px;
		margin: 0 auto;
	}
}

/* mobile */
@media (max-width: 739px) {
	.oferta-container p {
		max-width: 300px;
		margin: 0 auto;
	}

	.button_buy {
		font-size: 1rem;
	}
}

/****** section 2 - tempo ******/
.tempo {
	background-color: var(--primaria3);
}

.tempo-container {
	max-width: 960px;
	margin: 0 auto;	
	padding: 80px 0 60px 0;	
	text-transform: uppercase;
}

.tempo-container h3 {
	font-size: 1.333rem;
	font-weight: bolder;
	max-width: max-content;
	text-align: center;
	line-height: 3rem;
	margin: 60px auto;	
	color: var(--primaria1);
}

.tempo-container h2 {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.777rem;
	line-height: 1.9rem;
	text-align: center;
	color: var(--primaria1);
}

.tempo-icons::before {
	content: "";
	display: table;
	clear: both;
}

.tempo-icons::after {
	content: "";
	display: table;
	clear: both;
}

.tempo-icons {
	margin: 60px auto;	
}

.tempo-icon {
	float: left;	
}

.tempo-icon img {
	margin: 0 5px;	
}

.tempo-icon figcaption {
	text-align: center;
	background-color: var(--secundaria);
	color: var(--primaria3);
	font-weight: bold;
	margin-top: 10px;
	padding: 5px;	
}

/* tablet */
@media (min-width: 740px) and (max-width: 980px) {

	.tempo-icons {
		max-width: 720px;
		margin: 60px auto;
	}

	.tempo-icon {
		width: 175px;
		font-size: 0.75rem;
	}

	.tempo-container h2 {
		font-size: 1.333rem;
		width: 680px;
		margin: 0 auto;
	}

	.tempo-container h3 {
		line-height: 2rem;
		margin: 50px auto;	
	}
}

/* mobile */
@media (max-width: 739px) {
	.tempo-icons {
		max-width: 300px;
		margin: 60px auto;
	}

	.tempo-icon {
		width: 75px;
		font-size: 0.563rem;
	}

	.tempo-container h2 {
		font-size: 1.333rem;
		width: 300px;
		margin: 0 auto;
	}

	.tempo-container h3 {
		line-height: 2rem;
		margin: 50px auto;	
	}
}

/****** section 3 - feito ******/
.feito {
	/* background-color: #fff; */
}

.feito-container {
	max-width: 960px;
	margin: 0 auto;	
	padding: 80px 0;	
}

.feito-header {
	background-color: var(--secundaria);
	color: var(--primaria3);
	text-align: center;
	font-size: 1.777rem;
	font-weight: bolder;
	padding: 40px 0;
	text-transform: uppercase;

}

.feito-boxes::before {
	content: "";
	display: table;
	clear: both;
}

.feito-boxes::after {
	content: "";
	display: table;
	clear: both;
}

.feito-box {
	max-width: 460px;
	float: left;
	margin: 0 10px;
}

.feito-box h4, .feito-box p {
	text-align: center;
	font-size: 1.333rem;
}

.feito-box h4 {
	text-transform: uppercase;
	margin: 20px 0 20px 0;
}

.feito-box img {
	margin: 0 auto;	
	padding-left: 20px;
}

.iniciante {
	width: 150px;
	height: 150px;
}

.intermediario {
	width: 150px;
	height: 150px;	
	padding: 5px;
}

/* tablet */
@media (min-width: 740px) and (max-width: 980px) {
	.feito-boxes {
		max-width: 720px;
		margin: 0 auto;
	}

	.feito-box {		
		max-width: 340px;
	}
	
	.feito-box h4 {
		margin: 20px 0 20px 0;
	}

	.feito-header {
		padding: 40px 0;		
	}

	.feito-container {
		padding: 40px 0;
	}
}

/* mobile */
@media (max-width: 739px) {
	.feito-boxes {		
		max-width: 300px;
		margin: 0 auto;
	}

	.feito-header {
		padding: 30px 0;
		font-size: 1.333rem;		
	}

	.feito-box {
		float: none;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.feito-box h4 {
		margin: 20px 0 10px 0;
	}

	.feito-container {
		padding: 20px 0;
	}
}

/****** footer ******/
.footer {
	background-color:var(--primaria3);
	padding: 60px 0 90px 0;
}

.footer-container {
	max-width: 960px;
	margin: 0 auto;
}

.footer-container::before, .footer-container::after {
	content: '';
	display: table;
	clear: both;
}

.logo-footer-img {
	width: 460px;
	margin: 0 10px;
	float: left;
}

.footer form {
	width: 460px;
	margin: 0 10px;
	float: left;
	text-align: right;	
}

.footer form::before, .footer form::after {
	content: '';
	display: table;
	clear: both;
}

.footer form label {
	display: none;	
}

.footer input {
	width: 320px;
	border: 3px solid #fff;
	font-size: 1rem;
	font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
	color: #666666;
	padding: 10px;
}

.footer input:first-of-type {
	margin-bottom: 10px;
}

.footer .button_assinar {
	border-radius: 15px;
	color: #fff;
	border-color: var(--destaque2);
	background: none;
	text-decoration: none;
	text-align: center;
	font-size: 1rem;	
	font-weight: bolder;	
	display: block;
	width: 20%;	
	padding: 10px;
	cursor: pointer;
	transition-duration: 0.4s;
	float: right;
}

.footer .button_assinar:hover {
	background-color: var(--primaria1);
  	color: var(--primaria3);
}

/* tablet */
@media (min-width: 740px) and (max-width: 980px) {
	.footer-container {
		max-width: 720px;
		margin: 0 auto;
	}

	.logo-footer-img {
		width: 340px;		
	}

	.footer form {
		width: 340px;
	}

	.footer .button_assinar {
		width: 30%;
	}
}

/* mobile */
@media (max-width: 739px) {
	.footer-container {
		max-width: 300px;
		margin: 0 auto;
	}

	.logo-footer-img {
		width: 300px;		
	}

	.footer form {
		width: 300px;
		margin-top: 20px;
	}

	.footer input {
		width: 300px;
	}

	.footer .button_assinar {
		width: 30%;
	}
}